<form  action="<%= users_url%>" method="post">
  <%= auth_helper %>

  <label>
    Username:
    <input type="text" name="user[username]" value="<%= user.username if user%>">
  </label>

  <label>
    password:
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Submit">
</form>
